.card {
  background-color: pink;
  width: 100%;
  aspect-ratio: 1 / 1;
  display: grid;
  grid-template-rows: 70% 30%;
}

.card:hover {
  cursor: pointer;
  box-shadow: 5px 5px 5px gray;
}

.card > * {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

img {
  width: 100%;
}

h4 {
  font-weight: bold;
}
